	body{
	font-family:Verdana, Geneva, sans-serif; 
	font-size: 14px;
	color: #47476b;
	background-color: #f0f0f5;	
	}
	
	h1 {text-align: center; font-size: 1.5em!important;}

	@media only screen and (min-width: 400px){
       .container {
        width: 400px !important;
        margin: 0 auto !important;
        position: relative !important;
		padding:0.01em 16px
		display: block;
		float: center;
        }
    }
	
	#switchBox {
    padding: 20px;
    margin: auto;
	position: relative;
	}
	
	.ui-dropdown, option, input {color:#47476b!important; font-size:inherit!important; width:100%;}

    .ui-slider-track {
    float:center;
    margin: 0px 15px;
    }
	form, .ui-content, .ui-field-contain {
	padding: 10px}

    #message { 
        padding: 15px 0px 15px; 
        font-family:monospace!important;
		color:#33334d;
		text-align:center;
		background-color: #e0e0eb;
		margin: 5px;
		border-radius: 4px;
    }
    
    #sub_left, #sub_right  {float: left; width: 50%;}
	#ui-dropdown {padding:40px 3px 10px;}
	
	.ui-btn {
    background-color: #666699;
    border: none;
	font-family:inherit;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	font-weight:bold;
	border-radius: 4px;
	}
	
	.ui-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)	
}
	.ui-btn:focus {color: #666699; outline-color: #666699; background-color: #fff;}

/* Grabbed this elaborate slider CSS online, made minor changes, should be cleaned up*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;

  background: #666699;
  border-radius: 1.3px;

}
input[type=range]::-webkit-slider-thumb {
  
  border: 1px solid #000000;
  height: 30px;
  width: 12px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #666699;;
  border-radius: 1.3px;

}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #666699;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #22222;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}    